.ind-ui-dialog {
    input {
        width: 150px;
        float: right;
    }
    .ui-selectmenu-button {
    	float: right;
    }
    .dd-container {
    	float: right;
    	margin-top: 4px;
    	margin-bottom: 4px;
    }
    .dash .dd-option-image {
    	max-height: 5px;
    	max-width: 85px;
    }
    .ui-selectmenu-menu .ui-menu {
    	max-height: 85px;
    }
    #level_add {
    	width: 150px;
    	margin: 2px 0px;
    	float: right;
    }
    #level_delete {
    	width: 150px;
    }
    #levels {
    	border: 1px solid #aaa;
	    width: 100%;
	    border-radius: 5px;
	    tr {
	    	text-align: center;
	    }
    }
    .levels_selected {
    	background: #fff;
    }
}